.guess > span {
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: 4.5vw;
    background-color: #1e1e1e;
}

.preview > span {
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: 4.5vw;
}

.guess {
    display: flex;
}

.w-g {
    background-color: green !important;
}

.w-y {
    background-color: #CCCC00 !important;
}

body {
    background-color: gray;
    height: 100%;
    overflow: auto;
}

#nav {
    background-color: #1e1e1e;
    color: white;
}

#nav > h2 {
    padding: 0.5em;
}
