.guess span {
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: 4.5vw;
    background-color: #1e1e1e;
}

.preview span {
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: 4.5vw;
    background-color: gray !important;
}

.guess, .preview{
    display: flex;
}

.w-g {
    background-color: green !important;
}

.w-y {
    background-color: #CCCC00 !important;
}

body {
    background-color: gray;
    height: 100%;
    overflow: auto;
    max-width: 100%;
    overflow-x: hidden;
}

#input {
    background-color: #606060 !important;
    color: white;
    font-weight: bold;
}

#nav {
    background-color: #1e1e1e;
    color: white;
}

#nav h2 {
    padding-top: 0.5em;
    padding-bottom: 0.1em;
}

#info{
    user-select: none;
}

.modal-content {
    background-color: #1e1e1e !important;
    color: white;
}

#donate {
    text-decoration: none;
}
